#footerContainer{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #a6a6a6;
	width: 100%;
	margin:10px;
	padding:10px;
	background-color: #202020;

	.footerContent{
		width:90%;
		margin:10px;
		padding:10px;

		a{
			color: #a6a6a6;
			text-decoration: none;
		}

		#top5title{
			font-size: 1.375rem;
		}

		.post_title{
			display:inline-block;
			line-height: 30px;
			text-align: left;
			font-size: 1.125rem;
			width: 100%;
		}

	}
}

@media screen and (min-width: 768px) {
	#footerContainer{
		flex-direction: row;
		justify-content: space-between;
		.footerContent{
			height: 280px;
			.post_title{
			  justify-content: flex-start;
			}
		}
	}
}

